<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>

    <th:block th:replace="fragments/config :: configFragment" ></th:block>
</head>
<body>
    <th:block th:replace="fragments/nav :: navFragment"></th:block>
    <div class="container">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-around mt-3">
                <div>게시글</div>
                <div>권한</div>
            </div>
            <div class="mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html> 