<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.study.domain.BoardRepository">
    <select id="board" resultType="com.project.study.web.board.DTO.BoardDto">
        SELECT *
        FROM BOARD.BOARDS
    </select>

    <insert id="write" parameterType="com.project.study.web.board.DTO.BoardWriteDto">
        <selectKey resultType="Long" keyProperty="BOAUID" order="BEFORE">
            SELECT BOAUID+1 
            FROM BOARD.BOARDS 
            WHERE rownum  <![CDATA[ <= ]]> 1 
            ORDER BY BOAUID DESC
        </selectKey>
        INSERT
        INTO BOARD.BOARDS (BOAUID, USERID, TITLE, CONTENT, CREATEDATE)
        VALUES (#{BOAUID}, #{USERID}, #{TITLE}, #{CONTENT}, #{CREATEDATE})
    </insert>
</mapper>
