<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.study.domain.UserRepository">
    <insert id="signup" parameterType="com.project.study.web.user.DTO.SignupDto">
        INSERT
        INTO BOARD.USERS (ID, PW, NAME, EMAIL, PHONE, CREATEDATE)
        VALUES (#{ID}, #{PW}, #{NAME}, #{EMAIL}, #{PHONE}, #{CREATEDATE})
    </insert>

    <select id="signin" parameterType="com.project.study.web.user.DTO.SigninDto" resultType="com.project.study.web.user.DTO.UserDto">
        SELECT *
        FROM BOARD.USERS u
        WHERE u.ID = #{ID} AND u.PW = #{PW}
    </select>
</mapper>
